<!-- args: label, name, elements -->
<div
    class="string-list-input" 
    data-elements='[{% for element in elements|slice:"0,1" %}"{{element}}"{% if not forloop.last%},{% endif %}{% endfor %}]'
    data-container="#{{name}}Container"
    data-hidden-input="#{{name}}HiddenInput"
    data-input="#{{name}}Input"
>
    <label>{{label}}</label>
    <div class="border p-2">
        <input id="{{name}}HiddenInput" type="hidden" name="{{name}}" 
        value='[{% for element in elements|slice:"0,1" %}"{{element}}"{% if not forloop.last%},{% endif %}{% endfor %}]'>
        <div 
            id="{{name}}Container"
            class="d-flex flex-wrap align-items-baseline element-container" 
            style="min-height: 50;">
        </div>
        <input
            id="{{name}}Input" 
            class='form-control form-control-sm element-input'  
            type="text" 
            >
    </div>
</div>