{% load app_tags %}

<button id="createFunctionalityModalTrigger" class="btn btn-sm btn-primary" data-mdb-toggle="modal" data-mdb-target="#createFunctionalityModal">New
    Functionality
</button>
<!-- Modal -->
<div class="modal fade" id="createFunctionalityModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <form class="m-0" method="POST" action="{% url 'core:create_app_functionality' app_id=app.id %}" align="left">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New App Functionality</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    {% csrf_token %}

                    {{ create_functionality_form.app }}
                    {% render_field create_functionality_form.name class='form-control' %}
                    {% render_field create_functionality_form.description class='form-control' %}
                    {% render_field create_functionality_form.handler class='form-control' list='handlers' id='handler' %}
                    <datalist id='handlers'>
                        {% for file in app.file_set.all %}
                        <option value='{{file.dot_notation}}'/>
                        {% endfor %}
                    </datalist>
                    <div class="">
                        <label>Associated users</label>
                        <div class="p-2">
                            {{ create_functionality_form.users }}
                            {{create_functionality_form.users.errors}}
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% if create_functionality_form.errors %}
<script>
    $().ready(()=>{
        const btn = ($('#createFunctionalityModalTrigger'))
        btn.click()
    })
</script>
{% endif %}