{% extends 'base.html' %}
{% load static %}

{% load app_tags %}
{% block body %}
<div class="container">
    <nav class="justify-content-between navbar navbar-expand-sm navbar-light bg-light p-2">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="{% url 'core:get_apps' %}">Apps</a>
            <a class="breadcrumb-item" href="{% url 'core:get_app' id=app.id %}#func-{{func.id}}">{{app.name}}</a>
            <span class="breadcrumb-item active">{{func.name}}</span>
        </nav>

        {% url 'core:delete_functionality' id=func.id as delete_url %}
        {% include 'helpers/delete-entity.html' with entity_name='Functionality' delete_url=delete_url  %}
    </nav>

    <div class="card my-2">
        <div class="d-flex card-header justify-content-between">
            <div class="my-auto">
                <div>
                    {{func.name}}
                </div>
                <small>
                    {{func.description}}
                </small>
                <!-- <div class="col-md-6">
                    <small>Font: </small><span class="badge badge-pill badge-primary">{{func.front_end_handler}}</span>
                    <small>Back: </small><span class="badge badge-pill badge-primary">{{func.back_end_handler}}</span>
                </div> -->
            </div>
            <a href="{% url 'core:update_app_functionality' app_id=func.app.id id=func.id %}"
                class="my-auto btn btn-sm btn-link"> <span class="fa fa-pencil"></span> </a>
        </div>
        <div class="card-body">
            <!-- <p class="text-muted">{{func.description}}</p>
            <hr> -->
            <h6>Helpers</h6>
            {% for helper in func.helpers %}
            <span class="badge badge-pill badge-primary">{{helper}}</span>
            {% empty %}
            <p class="text-muted">No helpers added</p>
            {% endfor %}
            <hr>
            <h6>Associated Users</h6>
            {% for helper in func.users.all %}
            <span class="badge badge-pill badge-primary">{{helper}}</span>
            {% empty %}
            <p class="text-muted">No users added</p>
            {% endfor %}
        </div>
    </div>
    <div>
        <!-- <h6>Code</h6> -->
        <div>
            <div class="py-1">  
                <small>Font </small><span class="badge badge-pill badge-primary">{{func.front_end_handler}}</span>
            </div>
            <script src="https://gist.github.com/samuelitwaru/8df50ad1b393566a5c5c991d04f9b0b5.js"></script>
        </div>
        <div>
            <div class="py-1">
                <small>Back </small><span class="badge badge-pill badge-primary">{{func.back_end_handler}}</span>
            </div>
            <script src="https://gist.github.com/samuelitwaru/8df50ad1b393566a5c5c991d04f9b0b5.js?slice=0:1"></script>
        </div>
    {% endblock %}
    </div>