{% extends 'base.html' %}
{% load static %}

{% load app_tags %}
{% block body %}

<style type="text/css">
  .gist {height:250px !important; margin-bottom: 50px;}
  .gist-file
  .gist-data {max-height: 250px;}
</style>

<div class="container">
    <nav class="justify-content-between navbar navbar-expand-sm navbar-light bg-light p-2">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="{% url 'core:get_apps' %}">Apps</a>
            <a class="breadcrumb-item" href="{% url 'core:get_app' id=app.id %}#func-{{func.id}}">{{app.name}}</a>
            <span class="breadcrumb-item active">{{func.name}}</span>
        </nav>

        {% url 'core:delete_functionality' id=func.id as delete_url %}
        {% include 'helpers/delete-entity.html' with entity_name='Functionality' delete_url=delete_url  %}
    </nav>

    <div class="card my-2">
        <div class="d-flex card-header justify-content-between">
            <div class="my-auto">
                <div>
                    {{func.name}}
                </div>
                <p style="white-space: pre-wrap;">
                    {{func.description.html|safe}}
                </p>
                <!-- <div class="col-md-6">
                    <small>Font: </small><span class="badge badge-pill badge-primary">{{func.front_end_handler}}</span>
                    <small>Back: </small><span class="badge badge-pill badge-primary">{{func.back_end_handler}}</span>
                </div> -->
            </div>
            <a href="{% url 'core:update_app_functionality' app_id=func.app.id id=func.id %}"
                class="my-auto btn btn-sm btn-link"> <span class="fa fa-pencil"></span> </a>
        </div>
        <div class="card-body">
            <!-- <p class="text-muted">{{func.description}}</p>
            <hr> -->
            <h6>Helpers</h6>
            {% for helper in func.helpers %}
            <span class="badge badge-pill badge-primary">{{helper}}</span>
            {% empty %}
            <p class="text-muted">No helpers added</p>
            {% endfor %}
            <hr>
            <h6>Associated Users</h6>
            {% for helper in func.users.all %}
            <span class="badge badge-pill badge-primary">{{helper}}</span>
            {% empty %}
            <p class="text-muted">No users added</p>
            {% endfor %}
        </div>
    </div>
    <div>
        <div>
            <div class="py-1">  
                <small>Front </small><span class="badge badge-pill badge-primary">{{func.front_end_file}} <span class="fa fa-arrow-right"></span> {{func.front_end_handler}}</span>
            </div>
            <script style="max-height: 250px;" src="https://gist.github.com/samuelitwaru/{{func.front_end_gist}}.js"></script>
        </div>
        <div>
            <div class="py-1">
                <small>Back </small><span class="badge badge-pill badge-primary">{{func.back_end_file}} <span class="fa fa-arrow-right"></span>  {{func.back_end_handler}}</span>
            </div>
            <script src="https://gist.github.com/samuelitwaru/{{func.back_end_gist}}.js"></script>
        </div>
    {% endblock %}
</div>